@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body * {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-image: url("./images/background.png");
  height: 100%;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgForm {
  background-color: white;
}